/* Customize CSS */
/* Base */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Squada+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #111;
  transition: all 0.25s;
}

.nav-link {
  display: inline-block;
  padding: 0.25rem 0;
  margin-right: 1.25rem;
  position: relative;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;

  transform: translateX(-50%);
  background-color: #f3ba00;
  height: 1.5px;
  width: 0%;
  transition: all 0.25s;
}

.nav-link:hover::before {
  width: 100%;
}

.section {
  padding: 4rem 0;
  border-bottom: 1px solid #eee;
}
@media (min-width: 1200px) {
  .section {
    padding: 8.5rem 0;
  }
}
@media (min-width: 768px) {
  .section {
    padding: 6rem 0;
  }
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
}

/* UTILITY */
.fw-3 {
  font-weight: 300;
}

.fw-4 {
  font-weight: 400;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.gapc-0 > * {
  padding: 0;
}

.gapc-0 > * {
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 768px) {
  .gapc-0 > * {
    margin-left: 0;
    margin-right: 0;
  }
}

.gapc-1 > * {
  padding: 10px;
}

.gapc-1 > * {
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 768px) {
  .gapc-1 > * {
    margin-left: -10px;
    margin-right: 10px;
  }
}

.gapc-2 > * {
  padding: 20px;
}

.gapc-2 > * {
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 768px) {
  .gapc-2 > * {
    margin-left: -20px;
    margin-right: 20px;
  }
}

.gapc-3 > * {
  padding: 30px;
}

.gapc-3 > * {
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 768px) {
  .gapc-3 > * {
    margin-left: -30px;
    margin-right: 30px;
  }
}

.center-child {
  display: grid;
  place-items: center;
}

.pointer {
  cursor: pointer;
}

.over-hid {
  overflow: hidden !important;
}

.outline-0 {
  outline: 0;
}

.font-1 {
  font-size: 5rem;
}

.font-2 {
  font-size: 4rem;
}

.font-3 {
  font-size: 2.5rem;
}

.font-4 {
  font-size: 2rem;
}

.font-5 {
  font-size: 1.5rem;
}

.font-6 {
  font-size: 0.75rem;
}

.rounded {
  border-radius: 2.5px !important;
}

.rounded-0 {
  border-radius: 0 !important;
}

.rounded-1 {
  border-radius: 5px !important;
}

.rounded-2 {
  border-radius: 7.5px !important;
}

.rounded-3 {
  border-radius: 10px !important;
}

.rounded-4 {
  border-radius: 15px !important;
}

.rounded-5 {
  border-radius: 20px !important;
}

.rounded-6 {
  border-radius: 30px !important;
}

.rounded-pill {
  border-radius: 250px !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.lh-10 {
  line-height: 1 !important;
}

.lh-11 {
  line-height: 1.1 !important;
}

.lh-12 {
  line-height: 1.2 !important;
}

.lh-13 {
  line-height: 1.3 !important;
}

.lh-14 {
  line-height: 1.4 !important;
}

.lh-15 {
  line-height: 1.5 !important;
}

.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-100 {
  height: 100% !important;
}

.form-contact {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.form-contact .form-group {
  display: flex;
  gap: 0.75rem;
}
.form-contact .form-group .form-input,
.form-contact .form-group .textarea {
  width: 100%;
  padding: 0.75rem;
  border-radius: 3px;
  outline: none;
  border: 2px solid #eee;
}
.form-contact .form-group .form-input:focus,
.form-contact .form-group .textarea:focus {
  border-color: #86b7fe;
}
@media (max-width: 576px) {
  .form-contact .form-group {
    flex-wrap: wrap;
  }
}

.btn {
  transition: all 0.25s;
  outline: none;
}
.btn:active {
  outline: none;
  transform: translateY(1px);
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-4 {
  z-index: 4;
}

.z-5 {
  z-index: 5;
}

.card {
  border-radius: 10px;
}
.card .card-body {
  padding: 0.75rem;
}

.text-hover-white:hover {
  color: #fff !important;
}

.textarea {
  resize: none;
  height: 8rem;
  outline: none;
}

.flex-layout,
.navbar .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
}
.navbar .container {
  padding: 0;
}

/* Project element */
.bg-primary-green {
  background-color: #1ac073;
}

.text-primary-green {
  color: #1ac073;
}

.header {
  height: 100vh;
  width: 100%;
}

.intro {
  padding-top: 10rem;
}
@media (max-width: 768px) {
  .intro {
    padding-top: 5rem;
  }
}

.input-search {
  border: none;
}

.btn-group {
  overflow: hidden;
}

.img-hero {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.nav-project {
  position: fixed;
  top: 0;
}

.text-grey {
  color: #929292;
}

.nav-link {
  cursor: pointer;
  color: #fff;
  transition: all 0.25s;
}
.nav-link:hover {
  color: #fccc30;
}

.btn-group-kitchen {
  border: 1px solid #f3ba00;
}

#menu {
  background-color: #f7f8fa;
}

.grey-box {
  background-color: #eee;
  padding: 3px 0.5rem;
  border-radius: 6px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(1fr, 12);
  gap: 2rem;
}

#contact {
  background-color: #f7f8fa;
}

.navbar-footer {
  position: relative;
}

@media (min-width: 576px) {
  .pizza-cart-img {
    max-width: 12rem;
  }
}

@media (max-width: 576px) {
  .pizza-cart-name {
    font-size: 0.75rem !important;
  }
  .des-title {
    font-size: 0.8rem;
  }
  .input-search {
    max-width: 12rem;
  }
  html {
    font-size: 80%;
  }
}
.qty-box {
  position: relative;
}

.remove-pizza {
  cursor: pointer;
  text-decoration: underline;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.btn-close {
  color: #1ac073 !important;
  font-weight: bold;
}

.btn-cus {
  border-width: 0 !important;
  background-color: transparent;
}

.circle {
  display: grid;
  place-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.bg-grey {
  background-color: #dddddd !important;
}

.line {
  width: 1rem;
  height: 1.5px;
  background-color: #dddddd !important;
}

.modal-header {
  border-width: 0 !important;
  padding-bottom: 0 !important;
}

.modal-footer {
  border-width: 0 !important;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 1.35rem;
  height: 1.35rem;
  border: #1ac073 solid 2px;
  background-color: transparent;
  border-radius: 3px;
}

input[type="checkbox"]:checked::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: relative;
  left: -1px;
  top: -2.5px;
  color: #1ac073;
  display: grid;
  place-items: center;
  width: 20px;
  height: 20px;
}

.icon-width {
  width: 1.5rem;
}

.bg-primary-green-light {
  background-color: #f0faf7;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 2px solid #1ac073;
  border-radius: 3px;
}

input[type="radio"]:checked::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: relative;
  left: -1px;
  top: -2.5px;
  color: #1ac073;
  display: grid;
  place-items: center;
  width: 20px;
  height: 20px;
}

label[for="credit-card-method"] {
  display: inline-block;
  vertical-align: middle;
}

.textarea {
  width: 100%;
  height: 6rem !important;
  padding: 0.5rem 0.75rem;
  border: 1px solid #eee;
  border-radius: 5px;
}

.big-circle {
  width: 5rem;
  height: 5rem;
  border-radius: 3rem;
}

.pizza-price-container {
  width: 3rem;
}

.kitchen-hero-box {
  border-radius: 5px;
  margin-bottom: 3rem;
  height: 20vw;
  min-height: 10rem;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(../images/kitchen-hero.jpg);
  background-size: cover;
  background-position: center;
}

.underline-small {
  height: 2px;
  width: 3rem;
  background-color: #000;
}

.btn-next,
.btn-pre {
  border: 1px solid #eee;
  padding: 0.25rem 0.75rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.25s;
}
.btn-next:hover,
.btn-pre:hover {
  opacity: 1;
  background-color: #1ac073;
  color: #fff;
}

.btn-disable:hover {
  background-color: #fff;
  opacity: 0.6;
  cursor: default;
  color: #000;
}

.btn-next {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.btn-pre {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.page-container {
  background-color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 1.5rem;
}

.page-number-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.item-box {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: solid 1px #dfdfdf;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f8fa;
  opacity: 0.6;
  transition: all 0.25s;
}
.item-box:hover {
  opacity: 1;
}

.active {
  background-color: #1ac073;
  color: #fff;
  opacity: 1;
}

.selector .price-slider:before {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: 0;
  color: #39c9a9;
  content: attr(data-currency);
  transform: translateY(-50%);
}

.selector #slider-range {
  width: calc(100% - 1rem);
  margin-top: 1rem;
  margin-bottom: 30px;
  border: none;
  background: #e2f7f2;
  height: 3px;
  margin-left: 8px;
  margin-right: 8px;
}

.selector .ui-slider-handle {
  border-radius: 50%;
  background-color: #1ac073;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  outline: none;
}

.selector .ui-slider-range {
  background-color: #1ac073;
}

.selector .slider-price {
  position: relative;
  display: inline-block;
  padding: 5px 40px;
  width: 40%;
  background-color: #e2f7f2;
  line-height: 28px;
  text-align: center;
}

.selector .show-all {
  position: relative;
  padding-left: 25px;
  color: #39c9a9;
  cursor: pointer;
  line-height: 28px;
}

.slider-box {
  background: #fff;
  padding: 20px;
}

.price-span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #22262a;
}

.price-div {
  display: block;
  font-family: "Lexend Deca", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0.5rem 0;
}

.ranger-label {
  display: inline-block;
}

.price-label {
  display: inline-block;
}

.text-mute {
  color: #eee;
} /*# sourceMappingURL=style.css.map */
